@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Source+Sans+Pro:ital,wght@0,400;1,600&display=swap');

html {
    margin: 3rem;
    box-sizing: border-box;
} 
 
body {
  background: whitesmoke;
  font-family: 'Merriweather', serif; 
  text-align: center;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

#quote {
  font-style: italic;
}